{% extends 'base.html' %}

{% block title%} {{super()}} - Register{% endblock%}

{% block content %}
	
	<form action="" method="POST">
		{{ form.csrf_token }}
		<div class="form-group">
		    <label>Primeiro Nome</label>
		    {{form.fname(class = "form-control", placeholder = "Digite seu primeiro nome")}}
	 	</div>
		
		<div class="form-group">
		    <label>Sobrenome</label>
		    {{form.lname(class = "form-control", placeholder = "Digite seu sobrenome")}}
	 	</div>

	  
  		<div class="form-group row">
			  <label for="example-date-input">Date</label>
			 	{{form.nascimento(class = "form-control", type = "date", value = "2011-08-19", id="example-date-input", placeholder = "Data de nascimento")}}
		</div>


		<div class="form-group">
	    	<label for="exampleInputEmail1">Username</label>
	    	{{form.login(class = "form-control", placeholder = "Digite seu login")}}
	  	</div>

	  	<div class="form-group">
	    	<label>Senha</label>
	    	{{form.senha(class = "form-control", placeholder = "Digite sua senha")}}
	  	</div>

	  	
	  	<button type="submit" class="btn btn-primary">Confirmar</button>
	</form>
{% endblock%}